/* COLUMN SETTINGS */
[class*="col-"] {
  border: 1px solid black;
  background: #FFC0CB;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

[class*="col-"] .container [class*="col-"] {
  height: 280px;
  background: #F07F80;
  border: 1px solid white;
  line-height: 280px;
}
/* COLUMN SETTINGS */
